body{
    background-color: black;
    
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
    font-size: 26px;
}
nav h1{
    font-size: 40px;
    color: red;
    border-bottom: 5px solid rgb(251, 60, 60);
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    
}
ul{
    display: flex;
   
    
}
ul li{
    list-style: none;
    margin-inline: 30px;
   
}
a{
    text-decoration: none;
}
.btn button{
    width: 100px;
    height: 36px;
    border: 3px solid red;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;

}
.main{
    display: flex;
    justify-content: space-between;
}
.first{
    color: aliceblue;
    
   
}
.P1{
    font-family: 'Dancing Script', 'cursive';
    font-size: 50px;
    margin-top: 70px;
}
.P2{
    font-family: 'Dancing Script', 'cursive';
    font-size: 30px;
}
.x{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(224, 202, 202);
   
}


.f{
    
    color: aliceblue;
    margin: 40px;
    padding: 40px;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.u {
    display: block;
   
}

.p{
    display: block;
}

li{
    display: block;
    
}

a{
    text-decoration:none;
    color:rgb(237, 217, 217);
}



